<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config>
    <modules>
        <Mozg_Cielo>
            <version>1.0.0</version>
        </Mozg_Cielo>
    </modules>
    <global>
        <models>
            <mozg_cielo>
                <class>Mozg_Cielo_Model</class>
                <resourceModel>mozg_cielo_resource</resourceModel>
            </mozg_cielo>
            <mozg_cielo_resource>
                <class>Mozg_Cielo_Model_Resource</class>
                <entities>
                    <api_debug>
                        <table>mozg_api_debug</table>
                    </api_debug>
                    <event>
                        <table>mozg_event_data</table>
                    </event>
                    <event_queue>
                        <table>mozg_event_data_queue</table>
                    </event_queue>
                    <order_payment>
                        <table>mozg_order_payment</table>
                    </order_payment>
                </entities>
            </mozg_cielo_resource>
            <!--<sales>
                <rewrite>
                    <billing_agreement>Mozg_Cielo_Model_Billing_Agreement</billing_agreement>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <billing_agreement>Mozg_Cielo_Model_Resource_Billing_Agreement</billing_agreement>
                    <billing_agreement_collection>Mozg_Cielo_Model_Resource_Billing_Agreement_Collection</billing_agreement_collection>
                </rewrite>
            </sales_resource>-->
        </models>
        <helpers>
            <mozg_cielo>
                <class>Mozg_Cielo_Helper</class>
            </mozg_cielo>
            <payment>
                <rewrite>
                    <data>Mozg_Cielo_Helper_Payment_Data</data>
                </rewrite>
            </payment><!--xx-->
        </helpers>
        <resources>
            <mozg_cielo_setup>
                <setup>
                    <module>Mozg_Cielo</module>
                    <class>Mozg_Cielo_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mozg_cielo_setup>
            <mozg_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mozg_write>
            <mozg_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mozg_read>
        </resources>
        <blocks>
            <mozg_cielo>
                <class>Mozg_Cielo_Block</class>
            </mozg_cielo>
            <sales>
                <rewrite>
                    <adminhtml_billing_agreement_grid>Mozg_Cielo_Block_Adminhtml_Sales_Billing_Agreement_Grid</adminhtml_billing_agreement_grid>
                </rewrite>
            </sales><!--xx-->
        </blocks>
        <payment>
            <groups>
                <mozg_group>Mozg</mozg_group>
            </groups>
        </payment>
        <fieldsets>
            <sales_convert_quote_item>
                <mozg_pre_order>
                    <to_order_item>*</to_order_item>
                </mozg_pre_order>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <mozg_pre_order>
                    <to_quote_item>*</to_quote_item>
                </mozg_pre_order>
            </sales_convert_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <mozg_pre_order />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <mozg_cielo_sales_quote_item_set_product>
                        <class>Mozg_Cielo_Model_Observers_Quote</class>
                        <method>salesQuoteItemSetProduct</method>
                    </mozg_cielo_sales_quote_item_set_product>
                </observers>
            </sales_quote_item_set_product>
            <sales_order_payment_capture>
                <observers>
                    <mozg_cielo_capture>
                        <class>mozg_cielo/observer</class>
                        <method>addCurrentInvoiceToPayment</method>
                    </mozg_cielo_capture>
                </observers>
            </sales_order_payment_capture>
            <controller_action_predispatch_checkout>
                <observers>
                    <mozg_cielo_api_hpp>
                        <class>mozg_cielo/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_api_hpp>
                    <mozg_cielo_billing_agreement>
                        <class>mozg_cielo/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_billing_agreement>
                </observers>
            </controller_action_predispatch_checkout>
            <controller_action_predispatch_firecheckout>
                <observers>
                    <mozg_cielo_hpp>
                        <class>mozg_cielo/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_hpp>
                    <mozg_cielo_billing_agreement>
                        <class>mozg_cielo/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_billing_agreement>
                </observers>
            </controller_action_predispatch_firecheckout>
            <controller_action_predispatch_onestepcheckout>
                <observers>
                    <mozg_cielo_hpp>
                        <class>mozg_cielo/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_hpp>
                    <mozg_cielo_billing_agreement>
                        <class>mozg_cielo/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_billing_agreement>
                </observers>
            </controller_action_predispatch_onestepcheckout>
            <controller_action_predispatch_opc>
                <observers>
                    <mozg_cielo_hpp>
                        <class>mozg_cielo/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_hpp>
                    <mozg_cielo_billing_agreement>
                        <class>mozg_cielo/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_billing_agreement>
                </observers>
            </controller_action_predispatch_opc>
            <controller_action_predispatch_streamcheckout>
                <observers>
                    <mozg_cielo_hpp>
                        <class>mozg_cielo/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_hpp>
                    <mozg_cielo_billing_agreement>
                        <class>mozg_cielo/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_billing_agreement>
                </observers>
            </controller_action_predispatch_streamcheckout>
            <controller_action_predispatch_gomage_checkout>
                <observers>
                    <mozg_cielo_hpp>
                        <class>mozg_cielo/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_hpp>
                    <mozg_cielo_billing_agreement>
                        <class>mozg_cielo/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_billing_agreement>
                </observers>
            </controller_action_predispatch_gomage_checkout>
            <sales_order_shipment_save_before>
                <observers>
                    <mozg_cielo_capture_invoice_on_shipment>
                        <class>mozg_cielo/observer</class>
                        <method>captureInvoiceOnShipment</method>
                    </mozg_cielo_capture_invoice_on_shipment>
                </observers>
            </sales_order_shipment_save_before>
        </events><!--xx-->
    </global>

    <frontend>
        <secure_url>
            <mozg_process>/mozg_cielo/process</mozg_process>
        </secure_url>
        <routers>
            <mozg_cielo>
                <use>standard</use>
                <args>
                    <module>Mozg_Cielo</module>
                    <frontName>mozg_cielo</frontName>
                </args>
            </mozg_cielo>
        </routers>
        <translate>
            <modules>
                <Mozg_Cielo>
                    <files>
                        <default>Mozg_Cielo.csv</default>
                    </files>
                </Mozg_Cielo>
            </modules>
        </translate>
        <layout>
            <updates>
                <mozg_cielo>
                    <file>mozg_cielo.xml</file>
                </mozg_cielo>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <mozg_cielo_checkout_onepage_controller_success_action>
                        <class>mozg_cielo/observer</class>
                        <method>checkoutSuccess</method>
                    </mozg_cielo_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Cielo before="Mage_Adminhtml">Mozg_Cielo_Adminhtml</Mozg_Cielo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <mozg_cielo>
                    <file>mozg_cielo.xml</file>
                </mozg_cielo>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mozg_Cielo>
                    <files>
                        <default>Mozg_Cielo.csv</default>
                    </files>
                </Mozg_Cielo>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <mozg_cielo_hpp>
                        <class>mozg_cielo/observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_hpp>
                    <mozg_cielo_billing_agreement>
                        <class>mozg_cielo/billing_agreement_observer</class>
                        <method>addMethodsToConfig</method>
                    </mozg_cielo_billing_agreement>
                </observers>
            </controller_action_predispatch_adminhtml>
            <sales_order_payment_cancel>
                <observers>
                    <mozg_cielo_sales_order_payment_cancel>
                        <class>mozg_cielo/observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </mozg_cielo_sales_order_payment_cancel>
                </observers>
            </sales_order_payment_cancel>
            <controller_action_postdispatch_adminhtml_sales_order_create_save>
                <observers>
                    <mozg_cielo_controller_action_postdispatch_adminhtml_sales_order_create_save>
                        <class>mozg_cielo/observer</class>
                        <method>adminSalesOrderCreateSave</method>
                    </mozg_cielo_controller_action_postdispatch_adminhtml_sales_order_create_save>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_create_save>
        </events><!--xx-->
    </adminhtml>
    <default>
        <payment>
            <mozg_cielo_abstract>
                <active>0</active>
                <sort_order>2000</sort_order>
                <model>mozg_cielo/method_api_dummy</model>
                <currency></currency>
                <debug>1</debug>
                <uncancelorder>1</uncancelorder>
                <unholdorder>0</unholdorder>
                <autorefundoncancel>1</autorefundoncancel>
                <order_status>pending</order_status>
                <payment_authorized>processing</payment_authorized>
                <payment_authorized_virtual>complete</payment_authorized_virtual>
                <payment_cancelled_redirect>checkout/cart</payment_cancelled_redirect>
                <capture_mode>manual</capture_mode>
                <create_pending_invoice>1</create_pending_invoice>
                <recurringtypes>ONECLICK</recurringtypes>
                <auto_capture_openinvoice>0</auto_capture_openinvoice>
                <paypal_capture_mode>auto</paypal_capture_mode>
                <send_email_bank_sepa_on_pending>0</send_email_bank_sepa_on_pending>
                <title_renderer>title_image</title_renderer>
                <ignore_refund_notification>0</ignore_refund_notification>
                <split_payments_refund_strategy>1</split_payments_refund_strategy>
                <create_order_of_transaction_refused>0</create_order_of_transaction_refused>
                <payment_pre_authorized>pending</payment_pre_authorized>
                <payment_cancelled>holded</payment_cancelled>
                <refund_authorized>closed</refund_authorized>
                <refund_partial_authorized>processing</refund_partial_authorized>
                <pending_status>pending_payment</pending_status>
                <capture_on_shipment>0</capture_on_shipment>
                <send_invoice_update_mail>1</send_invoice_update_mail>
                <send_update_mail>1</send_update_mail>
                <ignore_refund_notification>0</ignore_refund_notification>
                <title_renderer>title_image</title_renderer>
            </mozg_cielo_abstract>
            <!--<mozg_cielo_api_hpp translate="title" module="mozg_cielo">
                <currency>EUR</currency>
                <model>mozg_cielo/method_api_hpp</model>
                <group>mozg_group</group>
                <title>Mozg HPP</title>
                <secret_wordt></secret_wordt>
                <secret_wordp></secret_wordp>
                <delivery_days>14</delivery_days>
                <ws_username_test></ws_username_test>
                <ws_password_test></ws_password_test>
                <ws_username_live></ws_username_live>
                <ws_password_live></ws_password_live>
                <allowspecific>0</allowspecific>
                <disable_hpptypes>0</disable_hpptypes>
                <sort_order>30</sort_order>
                <return_url_in_request>1</return_url_in_request>
            </mozg_cielo_api_hpp>
            <mozg_cielo_api_ideal translate="title" module="mozg_cielo">
                <active>0</active>
                <model>mozg_cielo/method_api_ideal</model>
                <group>mozg_group</group>
                <title>Mozg iDEAL</title>
                <show_ideal_logos>0</show_ideal_logos>
                <autoselect_stored_ideal_bank>1</autoselect_stored_ideal_bank>
                <sort_order>35</sort_order>
                <allowspecific>0</allowspecific>
            </mozg_cielo_api_ideal>
            <mozg_cielo_api_pos translate="title" module="mozg_cielo">
                <active>0</active>
                <model>mozg_cielo/method_api_pos</model>
                <group>mozg_group</group>
                <title>PIN</title>
                <recurringtypes>ONECLICK</recurringtypes>
                <add_receipt_order_lines>1</add_receipt_order_lines>
                <enable_scanner>0</enable_scanner>
                <submit_scanner>0</submit_scanner>
                <express_checkout>0</express_checkout>
                <express_checkout_kiosk_mode>0</express_checkout_kiosk_mode>
                <express_checkout_recurring>1</express_checkout_recurring>
                <create_shipment>0</create_shipment>
                <allowspecific>0</allowspecific>
                <sort_order>80</sort_order>
            </mozg_cielo_api_pos>
            <mozg_cielo_api_cash>
                <active>0</active>
                <model>mozg_cielo/method_api_cash</model>
                <group>mozg_group</group>
                <title>Cash</title>
                <sort_order>90</sort_order>
                <create_shipment>1</create_shipment>
                <visible_type>both</visible_type>
                <cash_express_checkout>0</cash_express_checkout>
                <cash_drawer>0</cash_drawer>
                <cash_drawer_printer_ip></cash_drawer_printer_ip>
                <cash_drawer_printer_port>8008</cash_drawer_printer_port>
                <cash_drawer_printer_device_id>local_printer</cash_drawer_printer_device_id>
                <ip_filter>0</ip_filter>
            </mozg_cielo_api_cash>
            <mozg_cielo_api_openinvoice translate="title" module="mozg_cielo">
                <active>0</active>
                <model>mozg_cielo/method_api_openinvoice</model>
                <group>mozg_group</group>
                <title>Mozg Open Invoice</title>
                <openinvoicetypes>openinvoice</openinvoicetypes>
                <gender_show>0</gender_show>
                <dob_show>0</dob_show>
                <telephone_show>0</telephone_show>
                <shoppertype>1</shoppertype>
                <different_address_disable>0</different_address_disable>
                <ratepay_id>oj9GsQ</ratepay_id>
                <sort_order>40</sort_order>
            </mozg_cielo_api_openinvoice>-->
            <mozg_cielo_api_cc translate="title" module="mozg_cielo">
                <active>0</active>
                <sort_order>2010</sort_order>
                <title>Cartão de Crédito Cielo (powered by MOZG)</title>
                <model>mozg_cielo/method_api_cc</model>
                <group>mozg_group</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <provider>Simulado</provider>
                <cctypes>AE,VI,MC,DI,DC,JCB,ELO,AU,hipercard</cctypes>
                <visible_type>both</visible_type>
                <authenticate>0</authenticate>
                <fraudanalysis>0</fraudanalysis>
                <enable_moto>0</enable_moto>
                <enable_installments>1</enable_installments>
                <installments>a:6:{i:0;a:4:{i:0;s:3:"BRL";i:1;s:3:"100";i:2;s:1:"1";i:3;s:1:"0";}i:1;a:4:{i:0;s:3:"BRL";i:1;s:3:"200";i:2;s:1:"2";i:3;s:1:"0";}i:2;a:4:{i:0;s:3:"BRL";i:1;s:3:"600";i:2;s:1:"3";i:3;s:1:"0";}i:3;a:4:{i:0;s:3:"BRL";i:1;s:3:"800";i:2;s:1:"4";i:3;s:1:"0";}i:4;a:4:{i:0;s:3:"BRL";i:1;s:5:"10000";i:2;s:1:"5";i:3;s:1:"0";}i:5;a:4:{i:0;s:3:"BRL";i:1;s:6:"100000";i:2;s:1:"6";i:3;s:1:"0";}}</installments>
            </mozg_cielo_api_cc>
            <mozg_cielo_api_dc translate="title" module="mozg_cielo">
                <active>0</active>
                <sort_order>2020</sort_order>
                <title>Cartão de Débito Cielo (powered by MOZG)</title>
                <model>mozg_cielo/method_api_dc</model>
                <group>mozg_group</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <provider>Simulado</provider>
                <dctypes>VI,MC</dctypes>
                <visible_type>both</visible_type>
                <enable_moto>0</enable_moto>
                <enable_installments>0</enable_installments>
            </mozg_cielo_api_dc>
            <mozg_cielo_api_oneclick translate="title" module="mozg_cielo">
                <active>0</active>
                <sort_order>2030</sort_order>
                <active_title>0</active_title>
                <title>Cielo OneClick (powered by MOZG)</title>
                <model>mozg_cielo/method_api_oneclick</model>
                <group>mozg_group</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <recurring_payment_type>ONECLICK</recurring_payment_type>
            </mozg_cielo_api_oneclick>
            <mozg_cielo_api_boleto translate="title" module="mozg_cielo">
                <active>0</active>
                <sort_order>2050</sort_order>
                <title>Boleto Cielo (powered by MOZG)</title>
                <model>mozg_cielo/method_api_boleto</model>
                <group>mozg_group</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <boletotypes>Bradesco,BancodoBrasil</boletotypes>
                <visible_type>both</visible_type>
                <order_underpaid_status></order_underpaid_status>
                <order_overpaid_status></order_overpaid_status>
                <vencimento>5</vencimento>
                <cabecalho>Cabeçalho</cabecalho>
                <instrucoes><![CDATA[Aceitar somente até a data de vencimento, após essa data juros de 1% dia.]]></instrucoes>
            </mozg_cielo_api_boleto>
            <mozg_cielo_api_eletronictransfer translate="title" module="mozg_cielo">
                <active>0</active>
                <sort_order>2060</sort_order>
                <title>Transferência Eletrônica Cielo (powered by MOZG)</title>
                <model>mozg_cielo/method_api_eletronicTransfer</model>
                <group>mozg_group</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <eletronictransfertypes>Bradesco,BancodoBrasil</eletronictransfertypes>
                <visible_type>both</visible_type>
                <order_underpaid_status></order_underpaid_status>
                <order_overpaid_status></order_overpaid_status>
            </mozg_cielo_api_eletronictransfer>
            <mozg_cielo_checkout_hpp translate="title" module="mozg_cielo">
                <active>0</active>
                <sort_order>2080</sort_order>
                <title>Checkout Cielo (powered by MOZG)</title>
                <model>mozg_cielo/method_checkout_hpp</model>
                <group>mozg_group</group>
                <debug>1</debug>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <soft_descriptor>Acme Corp</soft_descriptor>
                <antifraude>0</antifraude>
                <visible_type>both</visible_type>
                <order_underpaid_status></order_underpaid_status>
                <order_overpaid_status></order_overpaid_status>
            </mozg_cielo_checkout_hpp>
            <!--<mozg_cielo_api_sepa translate="title" module="mozg_cielo">
                <active>0</active>
                <model>mozg_cielo/method_api_sepa</model>
                <group>mozg_group</group>
                <visible_type>both</visible_type>
                <title>Mozg SEPA</title>
                <sort_order>60</sort_order>
                <validate_iban>0</validate_iban>
                <allow_billing_agreement_wizard>0</allow_billing_agreement_wizard>
                <flow>sales</flow>
            </mozg_cielo_api_sepa>
            <mozg_cielo_api_pay_by_mail>
                <active>0</active>
                <model>mozg_cielo/method_api_payByMail</model>
                <group>mozg_group</group>
                <visible_type>backend</visible_type>
                <title>Pagamento por e-mail (powered by MOZG)</title>
                <session_validity>3</session_validity>
                <sort_order>2070</sort_order>
            </mozg_cielo_api_pay_by_mail>
            <mozg_cielo_api_apple_pay translate="title" module="mozg_cielo">
                <active>0</active>
                <model>mozg_cielo/method_api_applePay</model>
                <group>mozg_group</group>
                <title>Mozg Apple Pay</title>
                <sort_order>80</sort_order>
                <shipping_type>shipping</shipping_type>
                <allow_quest_checkout>1</allow_quest_checkout>
                <change_address>1</change_address>
                <show_in_payment_step_checkout>1</show_in_payment_step_checkout>
                <show_outside_of_checkout>1</show_outside_of_checkout>
                <allow_billing_agreement_wizard>0</allow_billing_agreement_wizard>
            </mozg_cielo_api_apple_pay>
            <mozg_cielo_api_multibanco>
                <model>mozg_cielo/method_api_multibanco</model>
                <group>mozg_group</group>
                <active>0</active>
                <title>Mozg Multibanco</title>
                <sort_order>100</sort_order>
                <visible_type>both</visible_type>
            </mozg_cielo_api_multibanco>-->
        </payment>
        <mozg_cielo>
            <payment>
                <cctypes>
                    <AE>
                        <code>AE</code>
                        <code_alt>amex</code_alt>
                        <name>American Express</name>
                        <order>0</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </AE>
                    <VI>
                        <code>VI</code>
                        <code_alt>visa</code_alt>
                        <name>Visa</name>
                        <order>10</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <code_alt>mc</code_alt>
                        <name>Master Card</name>
                        <order>20</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </MC>
                    <DI>
                        <code>DI</code>
                        <code_alt>discover</code_alt>
                        <name>Discover</name>
                        <order>30</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DI>
                    <DC>
                        <code>DC</code>
                        <code_alt>diners</code_alt>
                        <name>Diners Club</name>
                        <order>40</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </DC>
                    <SM>
                        <code>SM</code>
                        <code_alt>maestro</code_alt>
                        <name>Maestro</name>
                        <order>60</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </SM>
                    <JCB>
                        <code>JCB</code>
                        <code_alt>jcb</code_alt>
                        <name>JCB</name>
                        <order>70</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </JCB>
                    <ELO>
                        <code>ELO</code>
                        <code_alt>elo</code_alt>
                        <name>Elo</name>
                        <order>80</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </ELO>
                    <hipercard>
                        <code>hipercard</code>
                        <code_alt>hipercard</code_alt>
                        <name>Hipercard</name>
                        <order>90</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </hipercard>
                    <AU>
                        <code>AU</code>
                        <code_alt>aura</code_alt>
                        <name>Aura</name>
                        <order>100</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </AU>
                </cctypes>
                <dctypes>
                    <VI>
                        <code>VI</code>
                        <code_alt>visa</code_alt>
                        <name>Visa</name>
                        <order>10</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <code_alt>mc</code_alt>
                        <name>Master Card</name>
                        <order>20</order>
                        <is_cvv_required>1</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </MC>
                    <!--<SM>
                        <code>SM</code>
                        <code_alt>maestro</code_alt>
                        <name>Maestro</name>
                        <order>60</order>
                        <is_cvv_required>0</is_cvv_required>
                        <is_checkout>1</is_checkout>
                    </SM>-->
                </dctypes>
                <boletotypes>
                    <Bradesco>
                        <code>Bradesco</code>
                        <name>Boleto sem Registro - Bradesco</name>
                        <order>0</order>
                    </Bradesco>
                    <BancodoBrasil>
                        <code>BancodoBrasil</code>
                        <name>Boleto sem Registro - Banco do Brasil</name>
                        <order>0</order>
                    </BancodoBrasil>
                    <Bradesco2>
                        <code>Bradesco2</code>
                        <name>Boleto com Registro - Bradesco</name>
                        <order>0</order>
                    </Bradesco2>
                    <BancodoBrasil2>
                        <code>BancodoBrasil2</code>
                        <name>Boleto com Registro - Banco do Brasil</name>
                        <order>0</order>
                    </BancodoBrasil2>
                </boletotypes>
                <eletronictransfertypes>
                    <Bradesco>
                        <code>Bradesco</code>
                        <name>Banco Bradesco</name>
                        <order>0</order>
                    </Bradesco>
                    <BancodoBrasil>
                        <code>BancodoBrasil</code>
                        <name>Banco do Brasil</name>
                        <order>0</order>
                    </BancodoBrasil>
                </eletronictransfertypes>
                <openinvoicetypes>
                    <afterpay>
                        <code>afterpay_default</code>
                        <name>AfterPay Netherlands</name>
                        <order>10</order>
                    </afterpay>
                    <klarna>
                        <code>klarna</code>
                        <name>Klarna</name>
                        <order>20</order>
                    </klarna>
                    <ratepay>
                        <code>ratepay</code>
                        <name>RatePAY</name>
                        <order>30</order>
                    </ratepay>
                </openinvoicetypes>
                <recurringtypes>
                    <none>
                        <code></code>
                        <name>NONE</name>
                        <order>10</order>
                    </none>
                    <oneclick>
                        <code>ONECLICK</code>
                        <name>ONECLICK</name>
                        <order>20</order>
                    </oneclick>
                    <recurring>
                        <code>RECURRING</code>
                        <name>RECURRING</name>
                        <order>30</order>
                    </recurring>
                    <oneclickrecurring>
                        <code>ONECLICK,RECURRING</code>
                        <name>ONECLICK,RECURRING</name>
                        <order>40</order>
                    </oneclickrecurring>
                </recurringtypes>
            </payment>
        </mozg_cielo>
    </default>
    <crontab>
        <jobs>
            <mozg_cielo_process_notification_queue>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mozg_cielo/cronjob::updateNotificationQueue</model>
                </run>
            </mozg_cielo_process_notification_queue>
            <mozg_cielo_trigger_notification>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mozg_cielo/cronjob::triggerNotification</model>
                </run>
            </mozg_cielo_trigger_notification>
        </jobs>
    </crontab>
</config>
